In [1]:
import pandas as pd

In [2]:
orders=pd.read_table('http://bit.ly/chiporders')

In [3]:
user_cols = ["user_id", "age", "gender", "occupation", "zipcode"]
users=pd.read_table('http://bit.ly/movieusers', sep = "|", header = None, names = user_cols)

In [4]:
users.head()

   user_id  age gender  occupation zipcode
0        1   24      M  technician   85711
1        2   53      F       other   94043
2        3   23      M      writer   32067
3        4   24      M  technician   43537
4        5   33      F       other   15213